{% extends "tracker/base-bootstrap.html" %}

{% block title %}{{ album.artist.name }} &ndash; {{ album.name }}{% endblock %}
{% block h1 %}<i>{{ album.name }}</i>{% endblock %}


{% block body-content %}

<div class="row">

  <div class="col-7">
    <ul>
      <li>Artist: {{ album.artist.name }}</li>
      <li>Year: {{ album.year }}</li>
      <li>Rating: {{ album.rating }}</li>
      <li>Comments: {{ album.comments }}</li>
      <li><a href={{ youtube_search_link }} target=_blank rel="noopener noreferrer">
        Search on YouTube</a></li>

    </ul>
    <a href="{% url 'tracker:artist' album.artist.quoted_name %}">
      All albums by this artist</a>
  </div>

  <div class="col-5">
    Last 5 listens:
    <ul>
      {% for listen in album.last_five_listens %}
      <li>{{ listen.default_date }}</li>
      {% endfor %}
    </ul>
    Total number of plays: {{ album.number_of_plays }}
  </div>

</div class="row">


{% endblock %}
