{% extends "tracker/base-bootstrap.html" %}

{% load static %}
{% block headblock %}
<link rel="stylesheet" type="text/css" href="{% static 'tracker/style.css' %}" />
{% endblock %}

{% block title %}o hai{% endblock %}
{# {% block h1 %}Album Tracker{% endblock %} #}


{% block body-content %}

<h2>All Albums</h2>

<div class="table-responsive">
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th>Artist</th>
        <th>Album</th>
        <th>Year</th>
        <th>Rating</th>
        <th>Genres</th>
      </tr>
    </thead>
    <tbody>
      {% for album in album_list %}
      <tr>
        <td><a class="block-anchor" href="https://google.com" target=_blank>{{ album.artist.name }}</a></td>
        <td><a class="block-anchor" href="#">{{ album.name }}</a></td>
        {# <td>{% with i=forloop.counter|stringformat:"s" %}{{ i }}{% endwith %}</td> #}
        <td><a class="block-anchor" href="#">{{ album.year }}</a></td>
        <td><a class="block-anchor" href="#">{{ album.rating }}</a></td>
        <td><a class="block-anchor" href="#">{{ album.secondary_genres }}</a></td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
</div>


{% endblock %}
